# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for data science
- List libraries used by Data Scientists
- List data science tools
- Conduct arithmetic operations in python

## Author
Carl Billton

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

| Data Science Tools |
| -------------|
| R studio |
| Apache Spark |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335